.options2 {
  height: 60rem;
}
@media (max-width: 59em) {
  .container {
    grid-template-columns: 1fr;
  }
  .lilContainer:not(:nth-child(2)) {
    display: none;
  }
  .circles {
    grid-template-columns: 1fr;
  }
  .someDescription {
    margin-top: 2rem;
  }
  .options2 {
    height: 75rem;
  }
  .secondContainer {
    height: 68rem;
  }
  .cta-form {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .detalleCaracteristicas {
    text-align: right;
    margin-right: 2rem;
  }
}

@media (max-width: 34em) {
  .container {
    grid-template-columns: 1fr;
  }
  .lilContainer:not(:nth-child(2)) {
    display: none;
  }
  .circles {
    grid-template-columns: 1fr;
  }
  .someDescription {
    margin-top: 2rem;
  }
  .options2 {
    height: 60rem;
  }
  .secondContainer {
    height: 50rem;
  }
  .cta-form {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .detalleCaracteristicas {
    text-align: right;
    margin-right: 2rem;
  }
  .thirdContainer {
    grid-template-columns: 1fr;
  }
  .something {
    margin-bottom: 4rem;
  }
}
